{% extends 'base.html' %}

{% block content %}

  <h2 style="text-align: center;" >É um gato ou cachorro?</h2>

  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    <input type="file" name="image">-->

    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' name="image" onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>

    <div style="text-align: center;" >
        <button class="file-analise-btn" type="submit">Analisar</button>

    </div>
  </form>
  {% if url %}
<div style="text-align: center;">
    <img src="{{ url }}" style="max-height: 200px; max-width: 200px; margin: 50px;">

</div>
<div style="text-align: center;" >
  É um {{ classification }}
</div>
  {% endif %}

{% endblock %}